<!-- PlayersCard.where(game_id: @game, selected: true) -->
<div class="turn-black">
  <%= @game.black_card.text %>
</div>

<div class="turn-white">
  Your choice card and your friend's choice cards are below, is the best card still yours? 
</br>
Vote for winning card:
</br>

  <% @otherplayerscards.each do |players_card| %>
      <% others = WhiteCard.find_by id: players_card %>
      <p><%= others.text %></p>
  <% end %>

</div>

